@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 0;
  }
}
.navbar-default {
    background-color: #CEEEFF;
    border-color: #CEEEFF;
    font-size: 17px;
}
.navbar-default .navbar-nav li a {
    color:#00245E;
}
.navbar-default .navbar-nav li a:hover {
    color:#00245E;
    font-weight: bold;
}
.navbar-default .navbar-brand {
    font-size: 22px;
    color:#00245E;
}
.navbar-default .navbar-brand:hover {
    color:#00245E;
    font-weight: bold;
}