body {
    background-color: #f8f8f8;
}

.container {
    background-color:#FFF;
    border-radius:3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:10px;
    padding-top:15px;
    padding-bottom:30px;
}

@media (min-width: 768px) {
  .container {
    padding-right: 45px;
    padding-left: 45px;
  }
}

.project-text h1 {
    font-size: 28px;
    font-weight: 700;
    color: #328CC1;
    margin-top:10px;
    margin-bottom: 0px;
}

.project-text h1 small {
    color: #0B3C5D;
}

.project-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #328CC1;
}

.container .project-text p {
    font-size: 16px;
    line-height: 23.5px;
}

.portfolio-caption {
    background-color: #328CC1;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%; /* Calculated using parent */
    transform: translateX(-50%) translateY(-50%); /* Calculated as bounding box for this element */
    width:150px;
    opacity: 0;
    padding: 10px 10px;
}

.portfolio-caption h4, .portfolio-caption h6 {
    color: #E9E9E9;
}

.portfolio {
    padding-top: 20px;
}

.portfolio-item {
    opacity: 1;
    display: block;
    z-index: 1;
    margin-bottom:30px;
}

.portfolio-item a portfolio-caption {
    border: 1px solid white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%; /* Calculated using parent */
    transform: translateX(-50%) translateY(-50%); /* Calculated as bounding box for this element */
    opacity: 0;
}

.portfolio-item a portfolio-img-container img {
    position: relative;
    display: block;
}

.project-overview {
    padding-top:15px;
    padding-bottom:15px;
}

@media only screen and (max-width:767px) {
    .project-overview {
        margin-top:0px;
        padding-top:0px;
    }
}

@media only screen and (min-width: 768px) {
    .project-overview {
        margin-top:15px;
        padding-top: 15px;
    }
}

#project-overview-text {
    background-color:#eee;
    padding-left:20px;
    padding-right:20px;
    margin-right:0px;
    padding-bottom: 5px;
}

.project-overview div {
    padding-right:0px;
    padding-left:0px;
}

.container .project-overview div p {
    font-size: 20px;
    font-weight: 500;
}

.project-overview-description {
    padding-top:15px;
}

