body {
    background-color: #f8f8f8;
}

.container {
    background-color:#FFF;
    border-radius:3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:10px;
    padding-top:15px;
    padding-bottom:30px;
    /*padding: 0 20px 0 20px ;*/
}

@media (min-width: 768px) {
  .container {
    padding-right: 45px;
    padding-left: 45px;
    /*background-color: #FFF*/
  }
}