body {
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: Lato;
}

html {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #0d214b;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #395280;
}

@media (min-width: 768px) {
  .container {
  	padding-right: 45px;
  	padding-left: 45px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 870px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

a:hover {
	text-decoration: none;
}

.intro-text {
	padding: 150px 15px;
}

@media(max-width: 844px) {
    .intro-text {
        text-align: center;
    }
}

.intro-text h1 {
	letter-spacing: 1px;
}

.lead {
    color: #0d214b;
}

@media (min-width: 768px) {
    .lead {
        font-size: 24px;
    }
    .intro-text h1 {
        font-size: 41px;
    }
}

.project-text h1 {
	font-size: 28px;
	font-weight: 500;
}

.project-text h2 {
	font-size: 24px;
	font-weight: 500;
}

.container .project-text p {
	font-size: 16px;
	line-height: 23.5px;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 90%;
    max-width: 90%;
}

.caption {
	text-align: center;
	font-weight: bold;
    color: #333;
}

.portfolio-caption {
    background-color: #adc6fa;
    padding: 7px 0;
    max-width: 250px;
    margin:0 auto;
    text-decoration: none;
    color: #0d214b;
    margin-bottom:20px;
}

.portfolio {
    padding-top: 20px;
}

.portfolio-item a div {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.portfolio-item a img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.portfolio-item:hover {
    opacity: 0.7;
}

.portfolio-more {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    box-sizing:border-box;
}

.thumbnail {
    padding:0px;
}

.video-container {
	max-width: 560px;
}

.video-container-smaller {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video-container-smaller iframe, .video-container-smaller object, .video-container-smaller embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.connect {
	text-align: center;
	letter-spacing: 4px;
	padding: 100px 0px 25px;
}

.social-media {
	text-align: center;
	letter-spacing: 25px;
}

.about-me {
	margin-top: 40px;
}

@media (max-width: 991px) {
	.about-me-text-intro {
		font-size: 16px;
		line-height: 24px;
		padding-top: 30px;
	}
}

@media (min-width: 992px) {
	.about-me-text-intro {
		font-size: 16px;
		line-height: 24px;
		padding-top: 55px;
	}
}

.about-me-text {
	font-size: 16px;
	line-height: 24px;
}

.page-header {
    margin-top:10px;
}

.imgContainer {
    text-align: center;
}

.contentImg {
    cursor: pointer;
}

.contentImg:hover {opacity: 0.87;}

.about-me-thumb {
    margin-bottom:20px;
}
.about-me-thumb:hover {opacity: 0.87;}

.about-me-gallery {
    margin-top:30px;
}

/* 95% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 95%;
    }
}

.modal-open {
    padding-right: 0 !important
}
