/* Small screens - anything smaller than first breakpoint 600px */
body {
	background-color: #fcfaf8;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
	margin-top: 0px;
	margin-bottom: 1rem;
}

.mb-3, .my-3 {
	margin-bottom: 1rem!important;
}

.mb-0, .my-0 {
	margin-bottom: 0!important;
}

.container {
	width: 310px;
	margin: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
	/* border: 2px solid rgb(247,182,96); */
	justify-content: center;
}

.greeting h1 {
	font-family: Source Sans Pro;
	font-weight: bold;
}

.intro p {
	line-height: 1.5em;
	font-family: Roboto;
}

.blue-text, a {
	color: rgb(51, 102, 204);
} 

.social-media {
	display: flex;
	width: 120px;
	margin-bottom: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* border: 2px solid yellow;*/
	font-size: 1.33em;
}

/* .media {
	border: 1px solid red;
} */

.projects {
	display: grid;
	grid-template-rows: 130px 130px 130px 130px;
	grid-gap: 25px;
}

.project-title {
	font-family: Source Sans Pro;
	font-weight: bold;
}

blockquote {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	background: #f0f0f0;
	margin: 0 0 1rem;
	font-size: 1.1em;
}

#allez-project blockquote {
	border-left: 4px solid #333399;
}

blockquote ol {
	margin: 0;
}

#floodlight {
	background-image: url("floodlight-sm.png");
	width: 280px;              
}

#navify {
	background-image: url("navify-sm.png");
	width: 280px;              
}

#proteus {
	background-image: url("proteus-sm.png");
	width: 280px;              
}

#allez {
	background-image: url("allez-sm.png");
	width: 280px;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid red; */
	border-radius: 10px;
	padding: 15px;
}

.footer {
	text-align: center;
	padding-top: 1.33em;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	margin-top: 0px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h3 {
	font-size: 28px;
}

h5 {
	font-size: 20px;
}

ol {
	padding-left: 1em;
}

#floodlight-project .project-title {
	color: #488198;
	letter-spacing: 1.5px;
}

#floodlight-project .project-section-title {
	color: #488198;
}

#proteus-project .project-title {
	color: #ff6633;
	letter-spacing: 1.5px;
}

#proteus-project .project-section-title {
	color: #ff6633;
}

#navify-project .project-title {
	color: #ee3f4c;
	letter-spacing: 1.5px;
}

#navify-project .project-section-title {
	color: #ee3f4c;
}

#allez-project .project-title {
	color: #333399;
	letter-spacing: 1.5px;
}

#allez-project .project-section-title {
	color: #333399;
}

.project-title {
	display: inline-block;
	padding-bottom: 0.5em;
	border-bottom: 2px solid;
	margin-bottom: 1em;
	color: inherit;
}

.project-section-title {
	text-transform: uppercase;
	font-size: 1em;
	padding-top: 1em;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video-responsive iframe{
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
  
/* Medium screens */
@media (min-width: 600px) and (max-width: 900px) {
	.container {
		width: 550px;
		margin-top: 4vh;
		margin-bottom: 4vh;
	}

	.social-media {
		width: 140px;
	}

	.projects {
		display: grid;
		grid-template-rows: 120px 120px;
		grid-gap: 25px;
		grid-template-areas:
		"topLeft topRight"
		"bottomLeft bottomRight";
	}

	#floodlight {
		grid-area: topLeft;
		background-image: url("floodlight-md.png");
		width: 263px;              
	}

	#navify {
		grid-area: topRight;
		background-image: url("navify-md.png");
		width: 263px;              
	}

	#proteus {
		grid-area: bottomLeft;
		background-image: url("proteus-md.png");
		width: 263px;              
	}

	#allez {
		grid-area: bottomRight;
		background-image: url("allez-md.png");
		width: 263px;
	}

	.box {
		/* */
	}
}

/* Large screens */
@media (min-width: 901px) {
	.container {
		width: 700px;
		margin-top: 6vh;
		margin-bottom: 10vh;
	}

	.social-media {
		width: 140px;
	}

	.projects {
		display: grid;
		grid-template-rows: 150px 150px;
		grid-gap: 20px;
		grid-template-areas:
		"topLeft topRight"
		"bottomLeft bottomRight";
	}

	.box {
		/* */
	}

	.project {
		justify-content: flex-start;
		align-items: flex-start;
		width: 308px;
	}

	.project p {
		font-size: 0.8em;
	}

	#floodlight {
		grid-area: topLeft;
		background-image: url("floodlight-lg.png");
		width: 308px;              
	}

	#navify {
		grid-area: topRight;
		background-image: url("navify-lg.png");
		width: 308px;              
	}

	#proteus {
		grid-area: bottomLeft;
		background-image: url("proteus-lg.png");
		width: 308px;              
	}

	#allez {
		grid-area: bottomRight;
		background-image: url("allez-lg.png");
		width: 308px;
	}
}
